
body{
    background-color: #1F2937;

}
header{
    display: flex;
    background-color: #1F2937;
}
.top{
    margin-left: auto;
    display: flex;
    gap: 30px;
    padding-right: 80px;
}
li{
    list-style-type: none;
}
.logo{
   height: 400px;
   width: 400px;
    
}
.contatiner{
    display: flex;
    margin-left: 100px;
    margin-top: 50px;
    gap: 400px;
    align-items: center;
    background-color: #1F2937;

}
section{
    display: flex;
}
h2{
    display: flex;
    justify-content: center;
    color: #1F2937;
    font-weight: 900;
    font-size: 36px;
}
.mid{
    margin-top: 150px;
    background-color: white;
}
.logos{
    display: flex;
}
.mid-bottom{
    display: flex;
    
    justify-content: center;
    background-color: #e5e7eb;
}
.about{
    margin-top: 50px;
    width: 600px;
    height: 300px;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
}
.text{
    align-self: flex-start;
}

.contact{
    display: flex;
    justify-content: center;
    background-color: white;
    height: 200px;
}
.alert{
    display: flex;
    height: 100px;
    width: 600px;
    background-color: #3883f6;
    margin: auto;
    border-radius: 15px;
    gap: 150px;
    
}
button{
    align-self: center;
    border-color: white;
    color: white;
    background-color: #3883f6;
    width: 100px;
    height: 30px;
    border-radius: 5px;

}
.white{
    color: white;
}

body :only-child{
    font-size: Roboto;
}
.text-disenos{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}
.links{
    
    font-size: 18px;
    color: #e5e7eb;
}
.header-logo{
font-size: 24px;
color: #f9faf8;
padding-left: 100px;

}
.secondary{
    font-size: 18px;
    color: #e5e7eb;
    width: 400px;
}
footer{
    display: flex;
}